.user-message {
    background-color: white;
    min-width: 100px;
    max-width: 300px;
    min-height: 50px;
    max-height: none;
    padding: 10px;
    border-radius: 4px;
    overflow-wrap: break-word;
    box-shadow: 5px 2px 10px 1px rgba(4, 83, 97, 0.5);
    border: 2px solid rgba(4, 83, 97, 0.5);
    float: right;
}